<!DOCTYPE html>
<html>
  <head>
    <title>Ryan and Josh's Excellent Adventure</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
  <!--begin main template-->
    <div class="container">
      #parse( $template )
    </div>
    <!--end main template-->
    <!-- Our main JavaScript -->
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
